



	
   <div class="container">
	  		

   		<div class="row" style="border-bottom: .3px solid gray"  id='cycle-jobs-headers'>
   			<div class="col-md-2">
   				<div class="cycle-jobs-head"><strong>description</strong></div>
   			</div>	
   			<div class="col-md-2">
   				<div class="cycle-jobs-head"><strong>value</strong></div>
   			</div>	
   			<div class="col-md-2">
   				<div class="cycle-jobs-head"><strong>previous complete</strong></div>
   			</div>	
   			<div class="col-md-2">	
   				<div class="cycle-jobs-head"><strong>this application</strong></div>
   			</div>	
   			<div class="col-md-2">	
   				<div class="cycle-jobs-head"><strong>% completed</strong></div>
   			</div>	
   			<div class="col-md-2">	
   				<div class="cycle-jobs-head"><strong>$ completed</strong></div>
   			</div>
   		</div>	
	

	<% @jobs.each do |job| %>

   		<div class="row" style="border-bottom: .3px solid gray" id='job-<%= job.id %>'>
   			<div class="col-md-2">
   				<div class="job-value"><%= job.description %></div>
   			</div>	
   			<div class="col-md-2">
   				<div class="job-value"><%= job.value %></div>
   			</div>	
   			<div class="col-md-2">
   				<div class="job-value"><%= job.previous_complete %></div>
   			</div>	
   			<div class="col-md-2">	
   				<div class="job-value"><%= job.this_application %></div>
   			</div>
   			<div class="col-md-2">	
   				<div class="job-value"><%= job.completed_to_date_percent %></div>
   			</div>	
   			<div class="col-md-2">	
   				<div class="job-value"><%= job.completed_to_date_value %></div>
   			</div>	   			
   		</div>	
   	<% end %>
	</div>



    