<%= form_for(@scope_cycle) do |f| %>
  <% if @scope_cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scope_cycle.errors.count, "error") %> prohibited this scope_cycle from being saved:</h2>

      <ul>
      <% @scope_cycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :billing_period_id %><br>
    <%= f.number_field :billing_period_id %>
  </div>
  <div class="field">
    <%= f.label :scope_id %><br>
    <%= f.number_field :scope_id %>
  </div>
  <div class="field">
    <%= f.label :contributor_id %><br>
    <%= f.number_field :contributor_id %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br>
    <%= f.number_field :owner_id %>
  </div>
  <div class="field">
    <%= f.label :cycle_start_date %><br>
    <%= f.date_select :cycle_start_date %>
  </div>
  <div class="field">
    <%= f.label :cycle_end_date %><br>
    <%= f.date_select :cycle_end_date %>
  </div>
  <div class="field">
    <%= f.label :owner_approved %><br>
    <%= f.check_box :owner_approved %>
  </div>
  <div class="field">
    <%= f.label :contributor_approved %><br>
    <%= f.check_box :contributor_approved %>
  </div>
  <div class="field">
    <%= f.label :cycle_suspended %><br>
    <%= f.check_box :cycle_suspended %>
  </div>
  <div class="field">
    <%= f.label :cycle_cancelled %><br>
    <%= f.check_box :cycle_cancelled %>
  </div>
  <div class="field">
    <%= f.label :original_contract_amt %><br>
    <%= f.text_field :original_contract_amt %>
  </div>
  <div class="field">
    <%= f.label :completed_to_date_total %><br>
    <%= f.text_field :completed_to_date_total %>
  </div>
  <div class="field">
    <%= f.label :stored_materials_total %><br>
    <%= f.text_field :stored_materials_total %>
  </div>
  <div class="field">
    <%= f.label :retainage %><br>
    <%= f.text_field :retainage %>
  </div>
  <div class="field">
    <%= f.label :less_owner_purchases %><br>
    <%= f.text_field :less_owner_purchases %>
  </div>
  <div class="field">
    <%= f.label :less_previous_pay_request %><br>
    <%= f.text_field :less_previous_pay_request %>
  </div>
  <div class="field">
    <%= f.label :amount_due %><br>
    <%= f.text_field :amount_due %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
