
<%= render 'scopes/scope_blurb' %>

<div>
<% if @cycles == 'no cycles exist' %>

<h4>No cycles exist.   </h4><%= link_to 'Create First Cycle', new_scope_cycle_path(:scope_id => @scope.id)%>
<% else %>



<p>
<h4 style='display:inline'>Current Cycle</h4> 
<%= link_to 'start new cycle', new_scope_cycle_path(:scope_id => @scope.id)%> &nbsp;|&nbsp; 
<%= link_to 'past cycles' %> 

</p>
<p>

  <strong>Cycle timeframe:</strong>
  <%= @scope_cycle.cycle_start_date %> to <%= @scope_cycle.cycle_end_date %>  
</p>

<p>
  <strong>Owner approved:</strong>
  <%= @scope_cycle.owner_approved %>
</p>

<p>
  <strong>Contributor approved:</strong>
  <%= @scope_cycle.contributor_approved %>
</p>

<p>
  <strong>Original contract amt:</strong>
  <%= @scope_cycle.original_contract_amt %>
</p>

<p>
  <strong>Completed to date total:</strong>
  <%= @scope_cycle.completed_to_date_total %>
</p>

<p>
  <strong>Stored materials total:</strong>
  <%= @scope_cycle.stored_materials_total %>
</p>

<p>
  <strong>Retainage:</strong>
  <%= @scope_cycle.retainage %>
</p>

<p>
  <strong>Less owner purchases:</strong>
  <%= @scope_cycle.less_owner_purchases %>
</p>

<p>
  <strong>Less previous pay request:</strong>
  <%= @scope_cycle.less_previous_pay_request %>
</p>

<p>
  <strong>Amount due:</strong>
  <%= @scope_cycle.amount_due %>
</p>
<br />
<br />

<div>
      <% if @sov.blank? %>
          <%= link_to 'Create Schedule of Values', new_sov_path(:scope_cycle_id => @scope_cycle.id) %>
      <% else %>


          <h5 style='display:inline'>Schedule of Values</h5><a href='#' id="toggle-cycle-sov"> View </a> | <%= link_to 'Update', edit_sov_path(@sov, :scope_cycle_id => @scope_cycle.id) %>
          <div id="cycle-sov-table" style="display:none">    
          	<%= render 'cycle_sov' %>
          </div>
      <% end %>
</div>

<br />

<div>
      <% if @stored_material.blank? %>
          <%= link_to 'Create Materials Stored', new_stored_material_path(:scope_cycle_id => @scope_cycle.id) %>
      <% else %>

          <h5 style='display:inline'>Materials Stored</h5><a href='#' id="toggle-cycle-stored-material"> View </a> | <%= link_to 'Update', edit_stored_material_path(@stored_material, :scope_cycle_id => @scope_cycle.id) %>
          <div style="display:none" id='cycle-stored-material'>
          	<%= render 'cycle_stored_material' %>
          </div>
      <% end %>
</div>
<br />

<div>
<% if @scope_cycle.documents.blank? %>
    <%= link_to 'Upload Documents', new_document_path(:scope_cycle_id => @scope_cycle.id) %>
<% else %>

<h5 style='display:inline'>Stored Documents</h5><a href='#' id="toggle-cycle-documents"> View </a> | <%= link_to 'Upload', new_document_path(:scope_cycle_id => @scope_cycle.id) %>
<div style="display:none" id='cycle-documents'>
	<%= render 'cycle_documents' %>
</div>

<% end %>
</div>


<% end %>
</div>
