<div class="well well-sm">

      
          
          <h3>  Project: <%= @project.name %> </h3><%= link_to 'Edit Project', edit_project_path(@project) %> 
          
          
     
  
         
              <p>
                <strong>Project number:</strong>
                <%= @project.project_number %>
              </p>

              <p>
                <strong>Description:</strong>
                <%= @project.description %>
              </p>

              <p>
                <strong>Estimated spend:</strong>
                <%= @project.estimated_spend %>
              </p>

              <p>
                <strong>Square feet:</strong>
                <%= @project.square_feet %>
              </p>

              <p>
                <strong>Building type:</strong>
                <%= @project.building_type.name %>
              </p>

              <p>
                <strong>Start date:</strong>
                <%= @project.start_date %>
              </p>

              <p>
                <strong>End date:</strong>
                <%= @project.end_date %>
              </p>

              <p>
                <strong>Project address:</strong>
                <%= @project.project_address %>
              </p>

              <p>
                <strong>Project address zip:</strong>
                <%= @project.project_address_zip %>
              </p>
          
      </div>