

<%= form_for @scope, remote: true do |f| %>

  <% if @scope.errors.any? %>
      <h2><%= pluralize(@scope.errors.count, "error") %> prohibited this scope from being saved:</h2>

      <ul>
      <% @scope.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    
  <% end %>

  <%= f.hidden_field :project_id, :value => @project.id %>

  <%= f.hidden_field :owner_id, :value => current_org_admin.organization.id %>


  <p class="field">
    <%= f.text_field :name, placeholder: "Scope name"%>
  </p>
  <p class="field">
    <%= f.text_area :description, placeholder: "description" %>
  </p>
  <p class="field">Visible to Public?
    <%= f.check_box :visible_to_public %>
  </p>
   
  <p>Assigned to?
    <%= f.collection_select :contributor_id, @other_organizations, :id, :name %>
  </p>

   <p>CSI Division
    <%= f.collection_select :csi_division_id, CsiDivision.all, :id, :code %>
  </p>

  <p>Billing Period
    <%= f.collection_select :billing_period_id, BillingPeriod.all, :id, :name %>
  </p>


  <p class="field">SOV used?
    <%= f.check_box :sov_used %>
  </p>
  <p class="field"> Stored Materials used?
    <%= f.check_box :stored_materials_used %>
  </p>
 
  <p class="field"> Assignee contact
    <%= f.text_field :send_invite_to, placeholder: "email address" %>
  </p>

  <p class="actions">
    <%= f.submit %>
  </p>

<% end %>


