
  <tr>
  	<td><%= scope.name %></td>
    <td><%= scope.description %></td>
    <td><%= scope.visible_to_public %></td>
    <td><%= scope.csi_division.code %></td>
    <td><%= scope.billing_period.name %></td>
    <td><%= scope.sov_used %></td>
    <td><%= scope.stored_materials_used %></td>
    <td><%= scope.contributor.name %></td>
    <td><%= scope.send_invite_to %></td>
    <td><%= link_to "Show", scope %></td>
   	<td><%= link_to "Edit", edit_scope_path(scope, :project_id => @project.id), remote: true %></td>
   	<td><%= link_to "Delete", scope, remote: true, method: :delete, id: scope.id %></td>
  </tr>
