<%= form_for(@sov) do |f| %>
  <% if @sov.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sov.errors.count, "error") %> prohibited this sov from being saved:</h2>

      <ul>
      <% @sov.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scope_cycle_id %><br>
    <%= f.number_field :scope_cycle_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
